#player1_coin, #player2_coin{
    border-radius: 50%;
    opacity: 0;
    padding: 2px 10px;
    margin-left: 5px;
    transition: all ease-in-out .5s;
}

#dice{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out .5s;
}

#player1_coin{
    background: blue;
}
#player2_coin{
    background: red;
}

#global1,#player1_selected{
    color: rgb(3, 3, 233);
}
#global2,#player2_selected{
    color: rgb(233, 3, 3);
}

#result1, #result2{
    color: white;
}

    #player1,#player2{
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
}

#controls{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

#winner{
   font-size: 40px;
}

#round1,#round2{
    color: white;
}


/* keyframes pour l'animation du dé */
@keyframes roll {
    0% { transform: rotateX(0deg) rotateY(0deg); }
    25% { transform: rotateX(360deg) rotateY(360deg); }
    50% { transform: rotateX(360deg) rotateY(360deg); }
    75% { transform: rotateX(360deg) rotateY(360deg); }
    100% { transform: rotateX(360deg) rotateY(360deg); }
}

/* Application de l'animation à la classe dice_animation */
.dice_animation {
    animation: roll 1s ease-out;
}