#player1_coin, #player2_coin{
    border-radius: 50%;
    opacity: 0;
    padding: 2px 10px;
    margin-left: 5px;
    transition: all ease-in-out .5s;
}

#player1_coin{
    background: blue;
}
#player2_coin{
    background: red;
}

#global1{
    color: rgb(3, 3, 233);
}
#global2{
    color: rgb(233, 3, 3);
}

#result1, #result2{
    color: white;
}

    #player1,#player2{
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
}

#controls{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}