#total1{
    background-color: rgba(0, 0, 255, 0.476);
}

#total2{
    background-color: rgba(255, 0, 0, 0.469);
}

#player1_selected, #player2_selected{
    border-radius: 50%;
    background: red;
    opacity: 0;
    padding: 2px 10px;
    margin-left: 5px;
    transition: all ease-in-out .5s;
}